binds:
- port: 9000
  listeners:
  - routes:
    - policies:
        cors:
          allowOrigins:
          - "*"
          allowHeaders:
          - "*"
      backends:
      - mcp:
          targets:
          - name: mcp
            mcp:
              host: http://localhost:8000/mcp