binds:
- port: 9000
  listeners:
  - routes:
    - policies:
        cors:
          allowOrigins:
          - "*"
          allowHeaders:
          - "*"
        mcpAuthentication:
          issuer: http://localhost:8080/realms/my-realm
          jwks:
            url: http://localhost:8080/realms/my-realm/protocol/openid-connect/certs
          audiences:
          - echo-mcp-server
          resourceMetadata:
            resource: http://localhost:9000/mcp
            scopesSupported:
            - openid
            bearerMethodsSupported:
            - header
      backends:
      - mcp:
          targets:
          - name: mcp
            mcp:
              host: http://localhost:8000/mcp